<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Seller</title>

    <!-- Bootstrap core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="themesid">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="text-primary text-center mb2">seller status</h1>
        <div class="col-xs-12 col-sm-12">
          <form id="form" data-toggle="validator" action="index" role="form" method="get">
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-lg btn-block">ホームに戻る</button>
	    </div>
          </form>
        </div><!--/.col-xs-12.col-sm-9-->  

        <div class="col-xs-12 col-sm-12">
	  <table>
	    <tr>
	      <td>チケット名</td>
	      <td>チケットID</td>
	      <td>価格</td>
	      <td>所有者</td>
	      <td>出品</td>
	    </tr>
	    <% @Ticket.each do |ticket| %>
	    <tr>
	      <td><%= ticket.name %></td>
	      <td><%= ticket.ticket_id %></td>
	      <td><%= ticket.price %></td>
	      <td><%= ticket.owner %></td>
	      <td>
		<% if ticket.owner == "seller" %>
		<% if ticket.escrow == false %>
		<form id="form" data-toggle="validator" action="status" role="form" method="post">
		  <div class="form-group">
		    <input type="hidden" name="name" value=<%= ticket.name %> >
		    <input type="hidden" name="ticket_id" value=<%= ticket.ticket_id %> >
		    <button type="submit" class="btn btn-info btn-lg btn-block">出品</button>
		  </div>
		</form>
		<% else %>
		<button type="submit" class="btn btn-warning btn-lg btn-block">出品済み</button>
		<% end %>
		<% end %>
	      </td>
	    </tr>
	    <% end %>
	  </table>
	</div>
      </div><!--/row-->
      
      <footer class="footer">
        <p>hoge</p>
      </footer>
    </div><!--/.container-->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/examples/offcanvas/offcanvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
<!--
    <%= javascript_include_tag 'jquery.blockUI' %>
    <script>
      $(function(){
      $('#form').validator().on('submit', function(e) {
      if (e.isDefaultPrevented()) {
      } else {
      }
      });
      
      if(!navigator.cookieEnabled) {
      blockUI.show('cookieを有効にしてください。');
      }
      });
    </script>
-->
    <style>
      .footer {
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 0%;
      }
      .mb1{
        margin-bottom: 1em;
      }
      .mb2{
        margin-bottom: 2em;
      }
      .mb5{
        margin-bottom: 5em;
      }
      table {
        border-collapse: collapse;
      }
      td {
        border: solid 1px;
        padding: 0.5em;
      }
    </style>
  </body>
</html>
