<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Bank</title>

    <!-- Bootstrap core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="themesid">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="jumbotron text-info text-center mb2">依頼内容確認(APIで自動化されるべき部分)</h1>

        <div class="col-xs-12 col-sm-12">
	  <h3 class="text-info text-warning">購入対象</h3>
	  <table>
	    <tr>
	      <td>チケット</td>
	      <td><%= @name %></td>
	    </tr>
	    <tr>
	      <td>チケットID</td>
	      <td><%= @ticket_id %></td>
	    </tr>
	    <tr>
	      <td>価格</td>
	      <td><%= @price %></td>
	    </tr>
	  </table>

	  <h3 class="text-info text-warning">送金内容</h3>
	  <table>
	    <tr>
	      <td>利用銀行</td>
	      <td>東京中央銀行</td>
	    </tr>
	    <tr>
	      <td>送金元</td>
	      <td><%= @buyer %></td>
	    </tr>	    
	    <tr>
	      <td>送金先</td>
	      <td>seller</td>
	    </tr>
	  </table>


          <form id="form" data-toggle="validator" action="../escrow/payment" role="form" method="get">
            <div class="form-group mt4">
	      <input type="hidden" name="name" value=<%= @name %> >
	      <input type="hidden" name="ticket_id" value=<%= @ticket_id %> >
	      <input type="hidden" name="price" value=<%= @price %> >
	      <input type="hidden" name="owner" value=<%= @owner %> >
	      <input type="hidden" name="bank" value="bank" >
	      <input type="hidden" name="buyer" value="buyer" >
              <button type="submit" class="btn btn-info btn-lg btn-block">送金処理実行</button>
	    </div>
          </form>
        </div><!--/.col-xs-12.col-sm-9-->  
      </div><!--/row-->
      
      <footer class="footer">
        <p>hoge</p>
      </footer>
    </div><!--/.container-->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/examples/offcanvas/offcanvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
<!--
    <%= javascript_include_tag 'jquery.blockUI' %>
    <script>
      $(function(){
      $('#form').validator().on('submit', function(e) {
      if (e.isDefaultPrevented()) {
      } else {
      }
      });
      
      if(!navigator.cookieEnabled) {
      blockUI.show('cookieを有効にしてください。');
      }
      });
    </script>
-->
    <style>
      .footer {
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 0%;
      }
      .mb1{
        margin-bottom: 1em;
      }
      .mb2{
        margin-bottom: 2em;
      }
      .mb5{
        margin-bottom: 5em;
      }
      .mt4{
        margin-top: 4em;
      }
      table {
        border-collapse: collapse;
      }
      td {
        border: solid 1px;
        padding: 0.5em;
      }
    </style>
  </body>
</html>
